.header{
    background-color: rgb(255, 0, 0);
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
}

.centre {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    list-style: none;
    text-decoration: none;
}

.link{
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 25%;
}